@model SysFloricola.Models.HISTORIA_CLINICA

@{
	ViewBag.Title = "Filiacion";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Datos De Filiación</h2>

<div class="row pt-2 pb-4">
	<div class=" pl-5 pr-5 col-md-5 text-center">@Html.Partial("~/Views/Shared/_Flash.cshtml")</div> <br />
	<div class="container  pt-0">
		@if (Model.HSCCODIGOI > 0)
		{
			<ul class="nav nav-tabs bar_tabs" role="tablist">
				<li class="nav-item"><a href="/Paciente">Lista Pacientes</a></li>
				<li class="nav-item" style="background-color:#2A3F54; color:white">
					<a class="nav-item" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="antecedentes" aria-selected="true">Filiación</a>
				</li>			
				<li class="nav-item"><a href="/Consulta/Consulta?numEmp=@Model.PCTCODIGOI&codHist=@Model.HSCCODIGOI">Consulta</a></li>
				<li class="nav-item"><a href="/Antecedentes/Antecedentes?numEmp=@Model.PCTCODIGOI&codHist=@Model.HSCCODIGOI">Antecedentes</a></li>
				<li class="nav-item"><a href="/SignosVitales/SignosVitales?numEmp=@Model.PCTCODIGOI&codHist=@Model.HSCCODIGOI">Signos Vitales</a></li>
				<li class="nav-item"><a href="/ExamenFisico/ExamenFisico?numEmp=@Model.PCTCODIGOI&codHist=@Model.HSCCODIGOI">Exámenes Físicos</a></li>
				<li class="nav-item"><a href="/Diagnostico/Diagnostico?numEmp=@Model.PCTCODIGOI&codHist=@Model.HSCCODIGOI">Diagnóstico</a></li>
				<li class="nav-item"><a href="/Planes?numEmp=@Model.PCTCODIGOI&codHist=@Model.HSCCODIGOI">Planes</a></li>
			</ul>
		}
		else
		{
			<ul class="nav nav-tabs bar_tabs" role="tablist">
				<li class="nav-item"><a href="/Paciente">Lista Pacientes</a></li>
				<li class="nav-item" style="background-color:#2A3F54; color:white">
					<a class="nav-item" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="antecedentes" aria-selected="true">Filiación</a>
				</li>			
				<li class="nav-item"><a >Consulta</a></li>
				<li class="nav-item"><a >Antecedentes</a></li>
				<li class="nav-item"><a >Signos Vitales</a></li>
				<li class="nav-item"><a >Exámenes Físicos</a></li>
				<li class="nav-item"><a >Diagnóstico</a></li>
				<li class="nav-item"><a >Planes</a></li>
			</ul>
		}
		
		<br />
	</div>

	<div class="col-md-12 pl-5 pr-5 pt-3" style="text-align:center">
		@using (Html.BeginForm("CrearHistoriaClinica", "HistoriaClinica", FormMethod.Post, new { onsubmit = "return validar()" }))
		{
			@Html.AntiForgeryToken()
			@Html.HiddenFor(x => x.HSCCODIGOI)
			@Html.HiddenFor(x => x.PCTCODIGOI)

			string fechaApertura = Convert.ToDateTime(Model.HSCFECHAAPERTURA).ToString("yyyy-MM-dd");
			string horaApertura =  Convert.ToDateTime(Model.HSCHORA_APERTURA).ToString("HH:mm");
			string nombreBoton = "Crear Historia Clínica";
			if (Model.HSCCODIGOI != 0)
			{
				nombreBoton = "Siguiente";
			}
			

			<div class="field item form-group">
				<label class="col-form-label col-md-3 col-sm-3  label-align">Apellidos</label>
				<div class="col-md-6 col-sm-6">
					<input class="form-control" value="@Model.PACIENTE.PCTAPELLIDOP @Model.PACIENTE.PCTAPELLIDOM" name="PCTAPELLIDOP" readonly required="required" type="text">
				</div>
			</div>
			<div class="field item form-group">
				<label class="col-form-label col-md-3 col-sm-3  label-align">Nombres</label>
				<div class="col-md-6 col-sm-6">
					@Html.EditorFor(model => model.PACIENTE.PCTNOMBREC, new { htmlAttributes = new { @class = "form-control", @id = "txtNombre", @required = "true",@readonly="readonly" } })
				</div>
			</div>
			<div class="field item form-group">
				<label class="col-form-label col-md-3 col-sm-3  label-align">Género</label>
				<div class="col-md-6 col-sm-6">
					@Html.EditorFor(model => model.PACIENTE.PCTGENERO, new { htmlAttributes = new { @class = "form-control", @id = "txtGenero", @required = "true", @readonly="readonly" } })
				</div>
			</div>
			<div class="field item form-group">
				<label class="col-form-label col-md-3 col-sm-3  label-align ">Número De Historia Clínica</label>
				<div class="col-md-6 col-sm-6">
					@if (Model.HSCCODIGOI > 0)
					{
						<input class="form-control" readonly id="HSCNUMERO" type="number" value="@Convert.ToInt32(Model.HSCNUMERO)" name="HSCNUMERO">
					}
					else
					{
						<input class="form-control" id="HSCNUMERO" type="number" value="@Convert.ToInt32(Model.HSCNUMERO)" name="HSCNUMERO">
					}

				</div>
				<label hidden id="mensajeHistoria"  class="col-form-label col-md-3 col-sm-3  alert-danger ">Ingrese El número de Historia Clínica</label>
			</div>
			<div class="field item form-group">
				<label class="col-form-label col-md-3 col-sm-3  label-align">Fecha De Apertura</label>
				<div class="col-md-6 col-sm-6">
					<input class="form-control" readonly type="date" value="@fechaApertura" name="HSCFECHAAPERTURA" required="required">
				</div>
			</div>
			<div class="field item form-group">
				<label class="col-form-label col-md-3 col-sm-3  label-align">Hora De Apertura</label>
				<div class="col-md-6 col-sm-6">
					<input class="form-control" readonly value="@horaApertura" type="time" name="HSCHORA_APERTURA" required="required">
				</div>
			</div>
			<div class="field item form-group">
				<label class="col-form-label col-md-3 col-sm-3  label-align">Observación</label>
				<div class="col-md-6 col-sm-6">
					<textarea name="OBSERVACIONES" class="form-control">@Model.OBSERVACIONES</textarea>
				</div>
			</div>

			<div class="form-group pt-3">
				<div class="col-md-9" style="text-align:right">
					<a class="btn btn-primary text-white" href="/Paciente">
						<i class="fa fa-arrow-circle-left"></i> Regresar
					</a>
					<button type="submit" class="btn btn-success text-white">
						@nombreBoton <i class="fa fa-arrow-circle-right"></i>
					</button>
				</div>
			</div>
		}
		
	</div>

</div>

@section Scripts {
	<script src="~/Scripts/Scripts/ScriptHistoriaClinica.js"></script>
}

