@model IEnumerable<SysFloricola.Models.PACIENTE>

@{
	ViewBag.Title = "Tipo Examen Físico";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Lista de Pacientes</h2>

<div class="row pt-2 pb-4">
	<div class=" pl-5 pr-5 col-md-5 text-center">@Html.Partial("~/Views/Shared/_Flash.cshtml")</div> <br />
	<div class="container  pt-0">
		<ul class="nav nav-tabs bar_tabs" role="tablist">
			<li class="nav-item" style="background-color:#2A3F54; color:white">
				<a class="nav-item" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="antecedentes" aria-selected="true">Lista Pacientes</a>
			</li>
			<li class="nav-item"><a>Filiación</a></li>
			<li class="nav-item"><a>Consulta</a></li>
			<li class="nav-item"><a>Antecedentes</a></li>
			<li class="nav-item"><a>Signos Vitales</a></li>
			<li class="nav-item"><a>Exámenes Físicos</a></li>
			<li class="nav-item"><a>Diagnóstico</a></li>
			<li class="nav-item"><a>Planes</a></li>
		</ul>
		<br />
	</div>
</div>

<div class="row pt-0">
	<div class="col-md-12 pl-5 pr-5" style="text-align:left">
		@using (Html.BeginForm("Index", "Paciente", FormMethod.Post))
		{
			<div class="col-md-6">				
				<input class="form-control" name="descripcion" required placeholder="Ingrese la descripción" type="text" value=""/>
			</div>
			<div class="col-md-3">
				<select class=" form-control" id="identificador" name="identificador">
					<option value="2">Por Identificación</option>
					<option value="1">Por Nombre</option>
				</select>
			</div>
			<div class="col-md-3" style="text-align:center">
				<button class="btn btn-primary" type="submit">
				<i class="fa fa-search"></i> Buscar Paciente
				</button>
			</div>
		}

	</div>
	<div class="col-md-12 pl-5 pr-5 pt-4" style="text-align:left">
		@if (Model.Count() > 0)
		{
			<table class="table table-cards table-responsive-lg" id="tabla">
				<thead style="background-color: #2A3F54" class="text-white">
					<tr>
						<th scope="col">
							Identificación
						</th>
						<th scope="col">
							Apellidos
						</th>
						<th scope="col">
							Nombres
						</th>
						<th scope="col">
							Dirección
						</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.PCTCEDULAC)
							</td>
							<td>
								@item.PCTAPELLIDOP  @item.PCTAPELLIDOM
							</td>
							<td>
								@item.PCTNOMBREC
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.PCTDIRECCC)
							</td>
							<td class="text-center">
								<div class="actions ml-3">
									<a href="/HistoriaClinica/Filiacion?numEmp=@item.PCTCODIGOI" class="action-item mr-2 text-info" data-toggle="tooltip" title="Crear Historia Clínica">
										<i class="fa fa-plus text-success"></i>
									</a>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
</div>